* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
.app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f2f2f2;
    width: 800px;
    height: 500px;
    border-radius: 21px;
    border: 1px solid #E0E0E0;
    display: flex;
    justify-content: space-between;
}
.row {
    display: flex;
    flex-direction: column; 
}
.header {
    margin-top: 25px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}
.stock-name {
    font-size: 24px;
    font-weight: 500;
    color: #333333;
    margin-right: 17px;
}
.stock-description {
    font-size: 12px;
    font-weight: 400;
    color: #828282;
}
.side-menu {
    margin-right: 17px;
    padding-top: 25px;
    height: 100%;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
}
.input {
    outline: none;
    border: none;
    background: none;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    caret-color: #828282;
}
.input::placeholder {
    color: #828282;
}
.input:hover {
    background: none;
}
.btn {
    outline: none;
    border: none;
    display: flex;
    background: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.material-icons-round {
    font-size: 16px;
    color: #828282;
}
.material-icons-round:hover {
    color: #2F80ED;
}
.list {
    list-style: none;
}
.list-item {
    display: flex;
    justify-content: space-between;
    height: 30px;
    border-bottom: 1px solid #E0E0E0;
    padding: 6px 12px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}
.list-item:hover {
    background: #E0E0E0;
}
.inactive:hover {
    background: #f2f2f2;
}
.info {
    display: flex;
    justify-content: space-between;
    flex-basis: 141px;
}
.alert {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 17px;
    padding: 5px;
    border: 1px solid #EB5757;
    color: #EB5757;
    font-size: 12px;
    font-weight: 500;
    border-radius: 7px;
}

.axis line{
    stroke-width: .5px;
    stroke: #828282;
}
.axis > path{
    stroke-width: .5px;
    stroke: #828282;
}
.axis text{
    fill: #828282;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
  } 